version: "3.7"

services:
  mongoke:
    build: .
    command: 
      - --path 
      - /mongoke.yml
    ports:
      - 8060:8080
    environment: 
      - DB_URL=mongodb://mongo/testdb
    volumes: 
      - ./example_mongoke.yml:/mongoke.yml
    
  mongo:
    ports:
      - 27017:27017
    image: mongo
    logging:
      driver: "none"

  firestore:
    image: ridedott/firestore-emulator
    init: true
    ports:
      - 8080:8080
    environment:
      - FIRESTORE_PROJECT_ID=project-test
