funcy
populate==0.0.8
skema
requests
fire

# generated
coloredlogs
PyJWT
tartiflette-aiohttp>=1.0.0
tartiflette==1.0.0rc1
motor
tartiflette_scalars
aiohttp-cors
mongodb_streams

# tests 
prtty
asynctest
pytest-asyncio