funcy
populate>=0.0.8
skema>=0.0.57
requests
fire


# generated
coloredlogs
PyJWT
tartiflette>=1.0.0rc2
tartiflette-aiohttp>=1.0.0
tartiflette_plugin_apollo_federation
motor
tartiflette_scalars>=0.0.6
aiohttp-cors
mongodb_streams>=0.0.7

# tests 
prtty
asynctest
pytest-asyncio