name: Npm Package

on:
    push:
        branches:
            - golang

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - uses: actions/setup-node@v1
              with:
                  node-version: 12
                  registry-url: https://registry.npmjs.org/
            - run: cd cli && yarn install --ignore-scripts
            - run: cd cli && yarn test
            - run: cd cli && tsc
            - name: Bump version
              uses: remorses/bump-version@js
              with:
                  version_file: VERSION
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - run: cd cli && yarn publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.npm_token }}
